include ../head.pug
body
    .container
        h1.main-title List of clients registration
        table.clients-table
            thead
            tr
                th ID
                th Name to register
                th Contact phone
                th Quantity of players
                th Playing duration
                th Date
                th
            tbody
            tr
                td 1
                td Aziz
                td +998999999999
                td 12
                td 2:00
                td 2024-03-14 20:00
                td
                button.btn-edit Edit
                button.btn-delete Delete
            tr
                td 2
                td Azamat
                td +998999999999
                td 8
                td 1:30
                td 2024-03-28 20:00
                td
                button.btn-edit Edit
                button.btn-delete Delete
